/.idea
/CLIP/mobileCLIP/model
/CLIP/mobileCLIP/__pycache__
StyleGAN/mobileStyleGAN/MobileStyleGAN.pytorch/model/mobilestylegan_ffhq_v2.ckpt
/dataset/CelebA-HQ
/dataset/CelebAMask-HQ
/__pycache__
/results
/AlexNet/model
test_clip2gan.png
